.main_chat
  .main_chat__header
    .main_chat__header__left-box
      .main_chat__header__left-box__group
        group
      .main_chat__header__left-box__member
        member
        .main_chat__header__left-box__member__list
          sa 
    .main_chat__header__right-box 
      = link_to "#" do
        Edit
  .main_chat__messages
    .main_chat__messages__tweet
      .main_chat__messages__tweet__user
        sa
        .main_chat__messages__tweet__user__time
          2019/01/01
      .main_chat__messages__tweet__text
        おはよう
  .form
    = form_for [@group,@message] do |f|
      = f.text_field :content,class: 'form__new_message', placeholder: 'type a message'
        .form__input-box
          = f.label :image, class: 'form__input-box__text' do
            = icon('fas', 'image', class: 'icon')
            = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'form__submit'

 