.main_chat
  .main_chat__header
    .main_chat__header__left-box
      .main_chat__header__left-box__group
        = @group.name
      .main_chat__header__left-box__member
        member:
        .main_chat__header__left-box__member__list
          - @group.users.each do |user|
            = user.name
    .main_chat__header__right-box 
      = link_to edit_group_path(@group) do
        Edit
  .main_chat__messages
    -# .main_chat__messages__tweet
    -#   .main_chat__messages__tweet__messages
    = render @messages
  .form
    = form_for [@group,@message] do |f|
      .form__mask
        = f.text_field :content, class: 'form__mask__message', placeholder: 'type a message'
        = f.label :image, class: 'form__mask__image' do
          = icon('fas', 'image')
          = f.file_field :image, class: 'form__mask__image__hidden'
      = f.submit 'Send', class: 'form__submit'
