.side_bar
  .side_bar__nickname
    .side_bar__nickname__items
      .side_bar__nickname__items__name
        user
      .side_bar__nickname__items__menu
        .side_bar__nickname__items__menu__group
          = link_to "#" do
            = icon('far', 'edit')
        .side_bar__nickname__items__menu__user
          = link_to "#" do
            = icon('fas', 'cog')
  .side_bar__group
    = link_to "#",class:"side_bar__group__list" do
      .side_bar__group__list__name
        test
      .side_bar__group__list__message
        まだありません